html>
<head>
    <title>myscript</title>
    <script type="text/javascript">
     function addNumber(a,b){
         var total=a+b;
         return total;
         
     }

     var abc=addNumber("ram","shyam");
     document.write("<h1>"+abc+"</h1>");

     var arr=["audi","fors","bmw"];
     arr.push("maruti");

     for(var i=0;i<arr.length;i++){
         document.write("<h1>"+arr[i]+"</h1>");
     }

    var Car={
        car_brand: "tesla",
        car_model: "bs6",
        car_price: "4l",
        callDetails: function(){
            document.write("fully automatic systeam");

        }

    } 
    
document.write(Car.car_model);
Car.callDetails();
Car.fuelType="diesel";
document.write(Car.fuelType);
document.write(Car.car_price);
//delete Car.car_price;
Car.car_price=500000;
document.write(Car.car_price);


/*
function Cars(car_brand,car_model,car_price){
    this.car_brand=car_brand;
    this.car_model=car_model;
    this.car_price=car_price;

    this.callDetails= function(){
        document.write("fully automatic con");
    }
}
    var cc=new Cars("ford","figo",400000);

    document.write(cc.car_price);
    cc.callDetails();

*/

var str="str";
document.write(typeof(str));

    </script>
</head>

<body>
<h1>shivam</h1>
</body>


</html>
